.\" Manpage for rx.
.\" Contact contact@digitalleaves.com for comments or help.
.TH man 1 "28 Apr 2020" "1.0" "rx man page"
.SH NAME
rx \- simple hello world example application
.SH SYNOPSIS
rx
.SH DESCRIPTION
rx todo ...
.SH OPTIONS
rx does not take any arguments.
.SH BUGS
No known bugs.
.SH AUTHOR
Brian Preston (brian8181@gmail.com)